@media (max-width: 767px){
    .chat-count{
        height: 16px !important;
        width: 16px !important;
        padding-top: 5px !important;
    }
    .fa-circle{
        font-size: 8px;
    }
    .received-message .message-text{
        font-size: 14px;
    }
    .profil-status{
        margin-left: 3px !important ;
    }
  }