<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="w-auto p-6 bg-white rounded-lg shadow-lg">
      <!-- Reset Password Form -->
      <div>
        <h2 class="text-2xl font-semibold text-center text-gray-800 mb-6">Reset Password</h2>
  
        <form [formGroup]="resetForm">
          <!-- Email input field -->
          <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-600">
              Enter your email address:
            </label>
            <input
              type="email"
              id="email"
              formControlName="email"
              required
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
            <!-- Error message -->
            <!-- <div *ngIf="resetForm.get('email')?.touched && resetForm.get('email')?.invalid" class="text-red-500 text-sm">
              <div *ngIf="resetForm.get('email')?.errors?.['required']">Email is required.</div>
              <div *ngIf="resetForm.get('email')?.errors?.['email']">Invalid email format.</div>
            </div> -->
          </div>
  
          <!-- Submit button -->
          <button
            (click)="resetPassword()"
            type="button"
            class="w-full py-2 px-4 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
          >
            Reset Password
          </button>
        </form>
      </div>
  
   
    </div>
  </div>
  