<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="w-auto p-6 bg-white rounded-lg shadow-lg">
      <!-- Reset Password Form -->
      <div *ngIf="stepper == 1">
        <h2 class="text-2xl font-semibold text-center text-gray-800 mb-6">Reset Password</h2>
  
        <form>
          <!-- Email input field -->
          <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-600">
              Enter your email address:
            </label>
            <input
              type="email"
              id="email"
              name="email"
              required
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
          </div>
  
          <!-- Submit button -->
          <button
            (click)="resetPassword()"
            type="button"
            class="w-full py-2 px-4 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
          >
            Reset Password
          </button>
        </form>
      </div>
  
      <!-- Email Sent Message -->
      <div *ngIf="stepper == 2" class="text-center">
        <div class="flex flex-col items-center">
          <svg
            class="w-16 h-16 text-green-500 mb-4"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          <h1 class="text-xl font-semibold text-gray-800 mb-2">Email Sent!</h1>
          <p class="text-gray-600 mb-4">
            We have sent a password reset link to your email address. Please check your inbox and follow the instructions to reset your password.
          </p>
          <button
            (click)="resendEmail()"
            class="py-2 px-4 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
          >
            Resend Email
          </button>
          <button
            (click)="goBack()"
            class="mt-3 py-2 px-4 bg-gray-600 text-white font-semibold rounded-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50"
          >
            Go Back
          </button>
        </div>
      </div>
    </div>
  </div>
  