.sent-message {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  .message-timestamp{
    color: white;
  }
  .message-box {
    background-color: #3B82F6; // Blue for sender
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 60%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
.received-message {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  // .message-timestamp{
  //   color: black;
  // }
  .message-box {
    background-color: #E5E7EB; // Gray for receiver
    color: #333;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  @media (max-width: 767px) {
    .message-box {
      padding: 4px 9px;
    }
  }
}
// .mat-mdc-menu-content{
//   button{
//     font-size: 12px !important;
//   }
// }
::ng-deep .mat-mdc-menu-content,
::ng-deep .mat-mdc-menu-content .mat-mdc-menu-item .mdc-list-item__primary-text {
  font-size: 12px !important;
  padding: 0;
}
::ng-deep .mat-mdc-menu-content .mat-mdc-menu-item.mdc-list-item{
  min-height: 36px;
}
// ::ng-deep .mat-mdc-menu-content .mat-mdc-menu-item{
//   border-bottom: 1px solid #ddd;
// }
// ::ng-deep .mat-mdc-menu-content .mat-mdc-menu-item::last-child{
//   border-bottom: 0 !important;
// }
// .sent-message .message-timestamp[_ngcontent-llj-c19]{
//   color: #fff;
// }
.message-timestamp {
  font-size: 12px;
  // color: white;
  text-align: right;
  margin-top: 4px;
}
.date-header {
  text-align: center;
  font-weight: bold;
  color: #555;
  margin: 10px auto;
  padding: 5px;
  background-color: #E0E0E0;
  border-radius: 5px;
}
.date-header-wrap{
  text-align: center;
}
@media (max-width: 767px ){
  .profil-status{
    margin-left: 3px !important;
}
.mat-mdc-menu-trigger {
  padding: 4px 6px;
}
.message-text{
  font-size: 14px;
}
message-text{
  margin-top: 3px;
}
}

.archived-message{
  .message-box{
 background-color: #9333ea;
  }
  .message-text{
    color: white;
  }
  .message-timestamp{
    color: white;
  }
}